body {
  background-color: #f5f5f5;
  color: blue;
}

#headshot {
  border-radius: 200px;
  max-width: 300px;
  height: auto;
  margin: 20px;
  box-shadow: 0px 0px 30px black;
  border: thin solid #5bc0de;
}

a:hover {
  color: orange;
  text-decoration: none
}

nav ul li {
  background-color: white;
  border: thin solid #5bc0de;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.list-inline-item {
  padding: 0px 10px;
  margin: 0px 20px;
}

/*gallery*/

.gallery li {
  list-style: none;
  float: left;
  width: 42%;
  margin: 3.5%;
  color: blue;
  text-align: center;
  margin-bottom: 5%;
  padding: 0px 10px;
}

.gallery li p {
  padding: 10px;
  background-color: #bde;
  margin-bottom: 0px;
  margin-top: 10px;
  border-radius: 10px;
}

.gallery li img {
  border-radius: 20px;
}

/*/gallery*/

/*footer*/

footer {
    text-align: right;
}
footer p {
  font-size: .5em;
  color: grey;
}

#fbfoot {
  max-width: 20px;
  height: auto;
  padding: 1% 1px;
  margin-right: 5px;
}

/*/footer*/

/*media queries*/

@media screen and (max-width: 600px) {

  .gallery li {
    list-style: none;
    float: left;
    width: 90%;
    margin: 5%;
    color: blue;
    text-align: center;
    margin-bottom: 5%;
    padding: 0px 10px;
  }

}
/*/media queries*/
