body {
  background-color: #f5f5f5;
  color: blue;
}

#headshot {
  border-radius: 200px;
  max-width: 300px;
  height: auto;
  margin: 20px;
  box-shadow: 0px 0px 30px black;
  border: thin solid #5bc0de;
}

a:hover {
  color: orange;
  text-decoration: none
}

.buttons ul li {
  background-color: white;
  border: thick solid #30a0bc;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.list-inline-item {
  padding: 0px 10px;
  margin: 0px 20px;
}

/*gallery*/

.wrapper {
  list-style: none;
  float: left;
  width: 42%;
  margin: 3.5%;
  color: blue;
  text-align: center;
  margin-bottom: 5%;
  padding: 30px 30px;
  border: thick solid #5bc0de;
  border-radius: 30px;
  background-color: #def3ff;
  box-shadow: 0px 0px 20px black;
}

.wrapper p {
  padding: 10px;
  background-color: #bde;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.wrapper img {
  border-radius: 20px;
}

.wrapper ul {
  padding: 10px;
  background-color: #bde;
  margin-bottom: 0px;
  margin-top: 10px;
  border-radius: 10px;
  list-style-position: inside;
}

/*/gallery*/

/*footer*/

footer {
    text-align: right;
    float:right;
    margin-right: 20px;
}
footer p {
  font-size: .5em;
  color: grey;
}

#fbfoot {
  max-width: 20px;
  height: auto;
  padding: 3px;
  margin-right: 25px;
}

/*/footer*/

/*about-page*/

#about-page {
  text-align: center;
  color: grey;
  font-family: monospace;
}

#about-page h2 {
  color: black;
  font-family: cursive;
}

#about-page h3 {
  text-decoration: underline;
  color: #538290;
  margin: 15px;
}

#interests li {
  text-align: left;
  margin-left: 15%;
}

.employer {
  font-weight: bold;
}

/*/about-page*/

/*contact page*/

#contact-body {
  text-align: center;
  color: grey;
}

.fb {
  list-style: none;
  margin: 50px;
}

.mail {
  list-style: none;
  margin-bottom: 30px;
}

/*/contact page*/

/*media queries*/

@media screen and (max-width: 600px) {

  .gallery li {
    list-style: none;
    float: left;
    width: 90%;
    margin: 5%;
    color: blue;
    text-align: center;
    margin-bottom: 5%;
    padding: 10px 10px;
  }

  .wrapper ul {
      background-color: #def3ff;
  }

  .wrapper ul li {
    padding: 0%;
    margin: 0%;
    visibility: hidden;
  }

  .wrapper h6 {
    visibility: hidden;
  }

  .list-inline-item {
    margin-left: 0px;
  }

}
/*/media queries*/
