body {
  margin: 0;
}

$indicator-size: 40px;

.counters-container {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-self: center;

  .row {
    display: flex;
    background-color: white;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 100svw;
    overflow-x: scroll;
    &:not(:last-child) {
      border-bottom: 2px solid black;
    }
  }

  .cards {
    flex: 1;
    display: flex;
    flex-shrink: 1;
  }
  img {
    height: 100%;
    width: 70px;
    margin-right: 5px;
  }

  .row-name,
  .counter {
    position: relative;
    padding: 0px 20px;
    z-index: 1;
    font-size: 25px;
  }

  .row-name {
    font-size: calc($indicator-size / 1.5);
  }

  .counter {
    display: flex;
    align-items: center;
  }

  .incrementer {
    width: $indicator-size;
    height: $indicator-size;
    border-radius: 50%;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-size: $indicator-size;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .minus-icon {
    background-color: white;
    width: calc($indicator-size / 2);
    height: 4px;
  }

  .count-input {
    font-size: calc($indicator-size * 2);
    margin: 0 calc(calc($indicator-size / 4));
    width: 100px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
  }
}
